<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	
	<!--加载数据库配置文件-->
	<context:property-placeholder location="classpath:db.properties"/>
	
	
	<!--配置数据源-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
        init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.pwd}" />
		<!-- 配置初始化大小、最小、最大 --> 
	    <property name="initialSize" value="1" /> 
	    <property name="minIdle" value="1" /> 
	    <property name="maxActive" value="10" />
	     <!-- 配置获取连接等待超时的时间 --> 
 		<property name="maxWait" value="10000" />
	</bean>
	
	<!-- 配置sqlSessionFactory-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--引入数据源-->
		<property name="dataSource" ref="dataSource"></property>
		
		<!--配置pojo的别名-->
		<property name="typeAliasesPackage" value="com.itcast.ssm.pojo"></property>
		
		<!--配置加载mybatis核心配置文件-->
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"></property>
		
		<!--配置加载 设置 sql的xml文件-->
		<property name="mapperLocations" value="classpath*:mapper/*.xml"></property>
		
	</bean>
	
	
	<!--配置批量扫描mapper接口-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.itcast.ssm.mapper"/>
		
		<!--注入sqlSessionFactory工厂-->
		 <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> 
	</bean>
	
	
	
</beans>	